<ion-content>
  <h2 class="tips-title">TIPS</h2>
  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <a routerLink="/stress">
          <ion-card color="secondary" class="card-background-stress">
            <img src="assets/stress.jpg" alt="Stress" class="card-image" />
            <ion-card-header>
              <ion-card-subtitle>Tackling</ion-card-subtitle>
              <ion-card-title>Stress</ion-card-title>
              </ion-card-header>
          </ion-card>
        </a>
      </ion-col>
      <ion-col size="6">
        <a routerLink="/anxiety">
                  <ion-card color="secondary" class="card-background-anxiety">
            <img src="assets/anxiety.jpg" alt="Anxiety" class="card-image" />
            <ion-card-header>
              <ion-card-subtitle>Dealing with</ion-card-subtitle>
              <ion-card-title>Anxiety</ion-card-title>
            </ion-card-header>
          </ion-card>
        </a>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <a routerLink="/depression">
          <ion-card color="secondary" class="card-background-depression">
            <img src="assets/depression.jpg" alt="Depression" class="card-image" />
            <ion-card-header>
              <ion-card-subtitle>Overcoming</ion-card-subtitle>
              <ion-card-title>Depression</ion-card-title>
              </ion-card-header>
          </ion-card>
       </a>
      </ion-col>
      <ion-col size="6">
        <a routerLink="/anger">
          <ion-card color="secondary" class="card-background-anger">
            <img src="assets/anger.jpg" alt="Anger" class="card-image" />
            <ion-card-header>
              <ion-card-subtitle>Managing</ion-card-subtitle>
              <ion-card-title>Anger</ion-card-title>              
            </ion-card-header>
          </ion-card>
        </a>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
