ion-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  
    .signup-title {
      margin-bottom: 20px;
      text-align: center;
      margin-top: 30%;
    }
  
    .login-link {
      margin-top: 20px;
      text-align: center;
    }
  
    ion-button {
      margin-top: 30px;
      width: 100%; /* Adjust the width as needed */
      
    }
  }