<ion-content>
  
  <ion-card>
  <h2 class="hotline-title">HOTLINE</h2>

  <div class="Hotline Numbers">
  <h1>Hopeline PH:</h1>
  <ul>
    <li>(02) 8804 46 73</li>
    <li>(+63) 917 558 4673</li>
    <li>(+63) 918 873 4673</li>
  </ul>
  

  <h1>Circle of Hope Community Services, Inc. :</h1>
  <ul>
    <li>(+63) 917 882 2324</li>
    <li>(+63) 908 891 5850</li>
    <li>(+63) 925 557 0888</li>
  </ul>

<h1>National Center for Mental Health (NCMH) Crisis Hotlines:</h1>
<ul>
  <li>0966-351-4518</li>
  <li>0917-899-8727</li>
  <li>0908-639-2672</li>
</ul>

    
</div>


</ion-card>
</ion-content>
