<ion-content scroll="y">
  <ion-card>
    <ion-card-header>
      <ion-card-title>WELCOME!</ion-card-title>
    </ion-card-header>
    <div>
      <ion-card-content>
        ‘It does not matter how slowly you go as long as you do not stop.’ - Confucius
      </ion-card-content>
    </div>
  </ion-card>

  <ion-card>
    <img alt="Silhouette of mountains" src="/assets/mental.png" />
    <ion-card-header>
      <ion-card-title>ASSESS YOURSELF</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Note: It is still better to seek professional help.
      <br />
      <a href="https://screening.mhanational.org/screening-tools/" target="_blank">Click here</a> to access the assessment tools.
    </ion-card-content>
  </ion-card>
</ion-content>
